@model WebApplication2.Models.Item

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
	.btn a {
		color: black;
		text-decoration: none;
	}
</style>

<h3>Are you sure you want to delete this?</h3>

<div>
    <hr />
	<dl class="dl-horizontal">
		<dt>
			Name
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Name_Item)
		</dd>

		<dt>
			Date of creation
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Date_Creation)
		</dd>

		<dt>
			URL of image
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Url_Img_Original)
		</dd>

		<dt>
			URL of result
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Url_Img_Done_Item)
		</dd>

		<dt>
			Header-text
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Header_Text)
		</dd>

		<dt>
			Text
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Text)
		</dd>

		<dt>
			Author
		</dt>

		<dd>
			@Html.DisplayFor(model => model.AspNetUsers.UserName)
		</dd>

	</dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> 

           
        </div>
    }
</div>
<br />
<div>
	@Html.ActionLink("Back to List", "Index")
</div>