@model WebApplication2.Models.Item

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
	.btn a {
		color: white;
		text-decoration: none;
	}
</style>

<h2>Details</h2>

<style>
	 #canvas-container {
		 position: relative;
		 width: 900px;
		 height: 550px;
		 box-shadow: 0 0 5px 1px black;
		 margin: 10px auto;
		 border: 5px solid transparent;
	}
		#canvas-container.over {
			border: 1px dashed #000000;
		} 
</style>



<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name_Item)
			@Html.EditorFor(model => model.Url_Img_Original, new { htmlAttributes = new { @class = "form-control", id = "OriginalImage", type = "hidden" } })
			@Html.EditorFor(model => model.Header_Text, new { htmlAttributes = new { @class = "form-control", id = "Header-Text", type = "hidden" } })
			@Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control", id = "Text", type = "hidden" } })
        </dd>
		<dt>
			Date
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Date_Creation)
		</dd>
<!--
        <dt>
			Date of creation
        </dt>

        <dd>
            Html.DisplayFor(model => model.Date_Creation)
        </dd>

        <dt>
			URL of image
        </dt>

        <dd>
            Html.DisplayFor(model => model.Url_Img_Original)
        </dd>

        <dt>
			URL of result
        </dt>

        <dd>
            Html.DisplayFor(model => model.Url_Img_Done_Item)
        </dd>

        <dt>
			Header-text
        </dt>

        <dd>
            Html.DisplayFor(model => model.Header_Text)
        </dd>

        <dt>
            Text
        </dt>

        <dd>
            Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            Author
        </dt>

        <dd>
            Html.DisplayFor(model => model.AspNetUsers.UserName)
        </dd>
		-->
    </dl>
	<div id="canvas-container">
		<canvas id="canvas" width="900" height="550"></canvas>
	</div>
</div>


<br />
<div>
	@Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/fabric.js"></script> 
<script src="~/Scripts/ItemDetails.js"></script>
