@model WebApplication2.Models.Item

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name_Item)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name_Item)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Creation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Creation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Url_Img_Original)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Url_Img_Original)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Url_Img_Done_Item)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Url_Img_Done_Item)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Header_Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Header_Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
