@model WebApplication2.Models.Item

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
	.btn a {
		color: white;
		text-decoration: none;
	}
</style>

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name_Item)
        </dd>

        <dt>
			Date of creation
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Creation)
        </dd>

        <dt>
			URL of image
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Url_Img_Original)
        </dd>

        <dt>
			URL of result
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Url_Img_Done_Item)
        </dd>

        <dt>
			Header-text
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Header_Text)
        </dd>

        <dt>
            Text
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            Author
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.UserName)
        </dd>

    </dl>
</div>


<p>
	<div class="btn btn-primary">
		@Html.ActionLink("Edit", "Edit", new { id = Model.Id })
	</div>  
</p>

<br />
<div>
	@Html.ActionLink("Back to List", "Index")
</div>  
