@using WebApplication2.Models; 

@model IEnumerable<WebApplication2.Models.Item>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your demotivators</h2>

<style>
	.btn a {
		color: black;
		text-decoration: none;
	}
</style>

<p>
    <div class="btn btn-default">
      @Html.ActionLink("Create new","Create")
    </div>

</p>
<table class="table">
    <tr>
        <th>
			<h3>Name</h3> 
        </th>
        <th>
			<h3>Date of creation</h3> 
        </th>
        <th>
			<h3>Header-text</h3> 
        </th>
        <th>
			<h3>Text</h3> 
        </th>
        <th>
			<h3>Author</h3> 
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name_Item)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Creation)
        </td>
       <!-- <td>
            @Html.DisplayFor(modelItem => item.Url_Img_Original)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Url_Img_Done_Item)
        </td>-->
        <td>
            @Html.DisplayFor(modelItem => item.Header_Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUsers.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
